body{
    background-image: url(../images/original.png);
    
}

h1,h3,h2{
    
    font-family: 'Fredericka the Great', cursive;
}

h4{
 color: rgb(50, 12, 83);
}

h1{
    text-align: center;

}

p{
    font-size: 20px;
    font-family: 'Merienda One', cursive;
    font-weight: bold;
}